.container-movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 5rem;
}

.alert#alert1 {
  width: 28%;
  margin: 2rem auto;
}

.col-3 {
  flex: 0 0 auto;
  width: 15%;
  border-right: 1px solid #bcb0b0;
  border-bottom: 1px solid #bcb0b0;
  height: 100%;
  box-sizing: border-box;
}

.col-9 {
  flex: 0 0 auto;
  width: 85%;
}

ul.dropdown-menu.show {
  text-align: right;
}

.itemcont {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.itms {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

/* button:focus {
  outline: 0;
  scroll-behavior: none;
} */
.fade {
  transition: none;
}



.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

ul#ex1 {
  width: 50%;
  margin: 0 auto;
}

.container-movies {
  object-fit: cover;
}

img {
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
  width: 100%;
}

.bg-image.hover-overlay.hover-zoom.hover-shadow.ripple {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}

section.table-responsive {
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  margin: 0 auto;
  width: 88%;
}

@media (max-width: 500px) {
  .container-movies {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  .row.w-100 {
    flex-flow: column;
    margin: 0;
  }

  .col-3 {
    width: 100%;
    border-bottom: 1px solid black;
    border-right: none;
    padding: 0;
  }

  .col-9 {
    width: 100%;
    padding: 0;
  }

  button.btn.btn-primary.btn-floating {
    margin-top: 1rem;
  }

  .row.itms.itemcont {
    width: 100%;
  }

  .col-md-6.col-xs-6.col-sm-6.col-lg-6 {
    padding: 0;
  }

  .row.itms.itemcont {
    padding: 0;
  }

  p.movie-card__desc {
    font-size: 12px;
  }

  ul#ex1 {
    width: 70%;
    margin: 0 auto;
  }

  .alert {
    width: 100%;
  }

  button.btn.btn-primary.btn-floating {
    margin: 0rem !important;
    z-index: 9999999;
  }

  section.table-responsive {
    width: 85%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

}