@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Moon+Dance&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.banner-video {
    position: relative;
    z-index: 10;
    background-color: black;
}

.banner-video video {
    display: block;
    margin: 0 auto;
    opacity: 0.4;
}

.nav-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999999999999999;
}

.logo {
    width: 150px;
    object-fit: contain;
}

.row-images {
    padding: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.row h2 {
    margin-left: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.row-image {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-image:hover {
    transform: scale(1.02);
}

#style-4::-webkit-scrollbar-track {
    border: transparent;
    outline: none;
    width: 10%;
    /* -webkit-box-shadow: inset 0 0 6px teal; */
    background-color: black;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

#style-4::-webkit-scrollbar-thumb {
    border: none;
    outline: none;
    background-color: #000000;
    border: 2px solid #555555;
}

.image-large {
    max-height: 222px;
}

.image-medium {
    max-height: 150px;
}

.row {
    margin-top: 2rem;
}

@media (max-width: 500px) {
    .banner {
        display: none;
    }
    .banner-video video {
        margin-top: 4rem;
        width: 100%;
    }
    .row-images::-webkit-scrollbar {
        display: none;
    }
}